 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    padding: 10px;
    margin: 50px;
    /* width: 350px; */
    background-color: powderblue;
    display: flex;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
}

.item{
    background-color: rgb(172, 111, 111);
    color: white;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    /* flex: 1; */
    /* flex-grow: 1; */
 /* inhand property =>    flex: flex-grow, flex-shrink, flex-grow */

}


/* FLEX-GROW => item 4 is 3 times bigger than others */
/* .items-4{
  flex-grow: 1;
}  */

/* FLEX BASIS IS similar to width, but using flex-shrink is recommanded when we use flex */
/* .items-5{
     flex-basis: 50%;       occupies 75% 
} */
/* Making changes to one single child  */

/* .items-3{
    font-size: 80px; 
}

.items-4{
    align-self: center;
} */

/* order starts from 0 */
/* 
.items-1{
  order: 3;
}
.items-2{
    order: 4;
}
.items-3{
    order: 0;
}
.items-4{
    order: 1; 
}
.items-5{
    order: 2;
}  */